.all_main{
    height: 490vh;
    width: 100%;
}

.main{
    height: 90vh;
    background-image: url(../images/bg_main_image.png);
}

.main_header{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 250px;
    padding-left: 100px;
}

.main_h1{
    color: rgb(255, 145, 19);
}

.main_h2{
    color: white;
    text-align: start;
    width: 50%;
}

.description_card{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.description_card2{
    background-color: rgb(255, 145, 19);
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 40%;
}

.card img{
    width: 100%;
}

.description{
    width: 40%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.actualites_description_cards{
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 70px;
}

.actualites_description_cards_img{
    width: 33%;
}

.contact{
    height: 80vh;
    background-color: #172B4E;
}